<section id="enum" class="api-article">
    {% include "common/deprecation.html" %}
    <div class="api-header">
        <p class="api-enity-type"><!--
    -->{% if p.is_native %}Native-defined {% endif %}blueprint enum</p>
        {% include "common/native_counterpart.html" %}
    </div>
    <h1>{% if p.is_deprecated %}<del class="api-entity-deprecated">{% endif -%}<!--
        --><span class="api-name">{{ p.title }}</span>{% include "common/since.html" -%}
        {% if p.is_deprecated %}</del>{% endif -%}<a class="headerlink" href="#enum"
           title="Permalink to this heading">#</a>
    </h1>
    <ul class="api-definition-options"><!--
        -->{% include "common/definition_path.html" %}
        {% if p.is_blueprint_type %}<li class="api-definition-option">Blueprint type</li>{% endif %}<!--
    --></ul>
    {% if p.short_desc != "" %}
        {{ markdown('p.short_desc') }}
    {% endif %}
    {% if p.full_desc != "" %}
        {{ markdown('p.full_desc') }}
    {% endif %}
    {% if length(p.elements) > 0 %}
    <section class="api-template-param-index" id="elements">
        <h2>Elements<a class="headerlink" href="#elements"
            title="Permalink to this heading">#</a></h2>
        <ul class="api-index">
        {% for preview in p.elements %}
            <li class="api-index-element api-index-parameter">
                {% if preview.is_deprecated %}
                <div class="admonition attention api-property-deprecated">
                    <p class="admonition-title">
                        <span class="api-blueprint-deprecated"><span class="api-name"><!--
                        -->{{ preview.display_name }}</span></span> is deprecated
                        {% if preview.deprecation_version != "" %}
                        since version {{ preview.deprecation_version }}
                        {% endif %}
                    </p>
                    {% if preview.deprecation_message != "" %}
                    {{ markdown('preview.deprecation_message') }}
                    {% endif %}
                </div>
                {% endif %}
                <ul class="api-options"><!--
                   -->{%- include "common/preview_since.html" %}<!--
                --></ul>
                <div class="api-blueprint-parameter">
                    <span class="api-blueprint-definition"><!--
                --> <span class="api-blueprint-parameter-type"><!--
                    --><span class="api-name">{{ preview.display_name }}</span></span></span>
                    <div class="api-index-element-description">
                    {{ markdown('preview.description') }}
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}
    {% include "common/see.html" %}
</section>
