<section id="field" class="api-article">
    {% include "common/deprecation.html" %}
    <div class="api-header">
        <p class="api-enity-type">Native field</p>
        {% include "common/bp_counterpart.html" %}
    </div>
    {% if p.namespace != "" %}
    <p class="api-heading-namespace">
        {{ p.namespace }}::&#8203;
    </p>
    {% endif %}
    <h1>{% if p.is_deprecated %}<del class="api-entity-deprecated">{% endif -%}<!--
        --><span class="api-name">{{ p.title }}</span>{% include "common/since.html" -%}
        {% if p.is_deprecated %}</del>{% endif -%}<a class="headerlink" href="#field"
           title="Permalink to this heading">#</a>
    </h1>
    <ul class="api-definition-options">
        {% include "common/definition_include.html" %}
    </ul>
    <div class="api-native-definition">
        {% include "common/definition_access.html" %}
        {% include "common/definition_umacro.html" %}
        <span class="api-keyword">
        {% if p.is_static %}static{% endif %}
        {% if p.is_const %}const{% endif %}
        {% if p.is_volatile %}volatile{% endif %}
        {% if p.is_mutable %}mutable{% endif %}
        </span>
        {% include "common/definition_api.html" %}<!--
        --><span class="api-name">{{ links('p.var_type') }}</span>
        <span class="api-name">{{ p.name }}</span>
        {% if p.initializer != "" %}<span class="api-name">{{ p.initializer }}</span>{% endif %}
        {% include "common/definition_access_end.html" %}
    </div>
    {% if p.short_desc != "" %}
        {{ markdown('p.short_desc') }}
    {% endif %}
    {% if p.full_desc != "" %}
        {{ markdown('p.full_desc') }}
    {% endif %}
    {% include "common/see.html" %}
</section>
